<li class="reusable_criterion_holder <%= cycle('rowA', 'rowB') %>" 
	id="criterion_<%=h(criterion.id)%>">
  <span class="reusable_criterion_title_div link">
    <%= link_to truncate(criterion.flexible_criterion_name,
                                  :length => 30,
                                  :omission => '...'),
                                  :controller => 'flexible_criteria', :action=>'reuse_criterion', :assignment_id=>@assignment.id ,:id=> criterion.id,
				:remote => true %>
  </span>
  <span id="criterion_max_<%=h(criterion.id)%>" class="criterion_max">
  	<%= h(criterion.max) %>
  </span>
</li>
